<!DOCTYPE html>
<html>
<head>
    <%- styles%>
    <link rel="stylesheet" href="css/navbar.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <title><%= title %></title>
</head>
<body>
    <%- include('navbar') %>

    <%- body %>

    <%- include('footer') %>

    <%-script %>
</body>
</html>
 